.login {
  background-color: #78e08f !important;
  /* background-image: -webkit-linear-gradient(top, #182848, #4b6cb7) !important;
  background-image: linear-gradient(to right, #182848, #4b6cb7) !important; */
  min-height: 100vh;
}

.xp-checkbox {
  width: 100px !important;
  /*Desired width*/
  height: 100px !important;
  /*Desired height*/
  zoom: 0.5 !important;
  transform: scale(2) !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(33, 243, 135);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(33, 243, 135);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}