<app-header></app-header>
<div class="terms">
  <h2>Introduction</h2>
  <p>At Xpress Payments, we value the importance of protecting the privacy of all data provided by the users of our
  solutions, services and products. Hence, this Privacy Policy describes how we collect, use, share, store and protect
  your personal data to affirm our respect for your right to privacy.</p>

  <h2> Definition</h2>
  <h2>Personal Information</h2>
  <p> Throughout this Privacy Policy, we use the term "personal data" to describe information that can be associated with a
  specific person and can be used to identify that person by reference to an identification number or to one or more
  factors specific to his or her physical, physiological, mental, economic, cultural or social identity.
  We do not consider personal information to include information that has been made anonymous so that it does not
  identify a specific user.</p>
  <p> Personal Information does not include corporate information that relates to an organization but not to an individual,
  such as a corporate name, corporate address or general corporate phone number.</p>

  <h2>Sensitive Personal Information</h2>
  <p> This means Personal Information that reveals race, ethnic origin, political opinions, religious or philosophical
  beliefs, or trade union membership, or that concerns health or sex life.</p>

  <h2> Information we collect from or about you</h2>
  <h2>Personal Information You Provide to us</h2>
  <p> We collect Personal Information that you provide to us through our Sites, and in connection with other business
  dealings we may have with you. This includes basic contact information about you, such as your name, company name,
  title, address, phone number, fax number and email address. It may also include information on the products or
  services you have shown interest in or purchased from us.</p>
  <p> If you open an XpressPay account, we may collect your contact information such as name, address, phone number, email,
  etc. Users may also choose to provide us with access to certain personal information stored by third parties such on
  social media sites (e.g., Facebook and Twitter). The information we may receive varies from site to site and depends
  on the access granted by the respective sites. By associating a third-party account managed by a third party with your
  XpressPay account and authorizing Xpress Payments to have access to this information, you agree that Xpress Payments
  may collect, store and use this information in accordance with this Privacy Policy.</p>
  <p> Information obtained through survey responses, telephone conversations, customer enquiries and other means may also be
  collected and used by us. Additionally, for quality and training purposes or for its own protection, Xpress Payments
  may monitor or record its telephone conversations with you or anyone acting on your behalf. By communicating with
  Xpress Payments, you acknowledge that your communication may be overheard, monitored, or recorded without further
  notice or warning.</p>

  <h2>Usage information we collect</h2>
  <p> In addition to Personal Information that you choose to submit to us, whenever you visit or
  interact with our Sites, we may collect or store information about your interaction with our Sites (“Usage
  Information”).</p>
  <p> This Usage Information may include:</p>
  <p> a. Your IP address or any other unique identifier assigned to the device that you use to access our Sites;</p>
  <p> b. The functionality and characteristics of your device, including type of browser, operating system and hardware,</p>
  <p>  c. Mobile network information and in some cases location information;</p>
  <p> d. The URL that referred you to our Sites, if any;</p>
  <p> e. Your activities on our Sites, such as which web pages you visit, what terms you searched within our Sites and which</p>
  <p> f. Links within our Sites that you click on; and</p>
  <p> g. And the time of day that you visited our Sites and how long your visit lasted.</p>

  <h2>Information We Receive from Third Parties.</h2>
  <p> We may receive Personal Information about you from third parties who recommend or suggest that we contact you for
  business purposes. This includes basic contact information about you, such as your name, company name, title, address,
  phone number, fax number and email address. It may also include information on the products or services you have shown
  interest in or may be interested in purchasing from us, as well as information on other companies or individuals with
  whom you do business. We may also obtain Personal Information about you from third parties in connection with business
  transactions you initiate with us, such as through credit verification or other processes related to the transaction.</p>

  <h2> How we use information</h2>
  <h2> Business Use</h2>
  <p> We use your Personal Information primarily to facilitate our ongoing and proposed business dealings with you
  (“Business Use”).</p>
  This includes to:
  <p> a. Process business transactions with us that you initiate;</p>
  <p> b. Establish and maintain customer accounts so that we may provide products or services of ours requested by you or
  your company</p>
  <p> c. Register you as a user of these products or services so that you may access them through our Sites or otherwise;</p>
  <p> d. Communicate with you about updates, maintenance, outages or other technical matters concerning these products or
  services;</p>
  <p>  e. Provide you with training regarding usage of these products or services;</p>
  <p> f. Notify you about changes to any of the policies and procedures for use of these products or services;</p>
  <p> g. Verify the accuracy of account and technical contact information we have on file for you and your company in
  relation to these products or services; and</p>
  <p> h. Respond to questions or inquiries that you or your company may have about our products or services.</p>
  <p> We also may use your Personal Information as required for us to comply with laws and
  regulations relating to the products or services that we provide in any of the jurisdictions Xpress Payments operates.</p>

  <h2>Marketing Purpose</h2>
  <p> With your consent or as otherwise</p>
  <p> permitted by applicable law, we may use your Personal Information for purposes relating to the marketing of our
  products and services, or those of our business partners (“Marketing Purposes”).
  This includes to:</p>
  <p> a. Send you newsletters, press releases, event announcements and other similar communications regarding the products
  or services that we offer;</p>
  <p> b. Market or promote our products or services to you, including by offering you trial or limited access to certain of
  our products or services;</p>
  <p> c. Solicit input from you regarding improvement of our products or services;</p>
  <p> d. Inform you of third-party offerings that we think you or your company may be interested in which relate to our
  products or services;</p>
  <p> e. Send you announcements or requests on behalf of other customers of ours who believe you would benefit from use of
  our products or services; and</p>
  <p> f. Other purposes that we disclose to you at the time we obtain your consent.</p>

  <h2>Use of Cookies</h2>
  <p> Cookies are small files placed on your computer's hard drive that enables the website to identify your computer as you
  view different pages. Cookies play an important role in helping us provide personal, effective and safe Services. We
  use cookies on our website. We change the cookies periodically as we improve or add to our Services, but we generally
  use cookies for the following purposes:</p>
  <p> a. To Operate Our Services. Some cookies are essential to the operation of our website and Services. We use those
  cookies in a number of different ways, including:</p>

  <p> i. Authentication. We use cookies to remember Your login state so You don’t have to login as You navigate through our
  site and Your dashboard. For example, when You log into any of Xpress Payments account, we use a cookie so that You
  don’t have to login again as You navigate throughout the website.</p>
  <p> ii. Fraud Prevention and Detection. Cookies and similar technologies that we deploy through websites and the Services
  help us learn things about computers and web browsers used to access the Services. This information helps us monitor
  for and detect potentially harmful or illegal use of our Services.</p>
  <p> iii. Site Features and Services. We use cookies to remember how You prefer to use our Services so that You don’t have
  to reconfigure Your settings each time You log into Your account.</p>

  <p> b. To Analyze and Improve Our Services. Cookies help us understand how to make our website and Services work better
  for You. Cookies tell us how people reach our website and our Users’ websites and they give us insights into
  improvements or enhancements we need to make to our website and Services.</p>


  <h2>With whom we share information</h2>
  <p> Business Use within Xpress Payments May share your Personal Information and Usage Information within Xpress Payments
  (i.e., between and among Xpress Payments, its Partners and its subsidiaries).</p>
  <p> Such information may be used by Xpress Payments, its Subsidiaries or Assigns for internal business and operational
  purposes, as well as for purposes consistent with the purpose for which the information was originally collected or
  subsequently authorized by you.</p>

  <h2> Outside Xpress Payments</h2>
  <p> We may share your Personal Information with:</p>
  <p> Any organization which supports any of our services you use, when they need it to offer those services. That includes:
  Card producers and networks, Credit reference agencies, Analytical Providers, Know Your Customer (KYC) and cyber
  security service providers. Companies that do advertising for us (but we won’t share identifiable personal data with
  third parties for their own direct marketing unless you give us permission, and you can opt out any time).</p>
  <p> Certain authorities that detect and prevent terrorism (including authorities outside the UK if one of your payments is
  processed through a worldwide payment system).
  Anyone who you give us explicit permission to share it with.</p>

  <h2>Data Integrity</h2>
    <p>  You are responsible for the accuracy of all Personal Information that you provide to us. We will use reasonable
  efforts to maintain the accuracy and integrity of your Personal Information, and to update that information as
  appropriate. We will take reasonable steps to ensure that the Personal Information we collect from you is relevant to
  its intended use, and that it is used only in ways that are compatible with the purposes for which it was collected or
  otherwise authorized by you.</p>

  <h2>Legal Protection and Law Enforcement</h2>
  <p> We may access, use, preserve, transfer and disclose to third parties your Personal Information to:</p>
  <p> a. Satisfy any applicable law, regulation, subpoena, governmental request, or legal process if in our good faith
  opinion such is required or permitted by law;</p>
  <p> b. Protect and/or defend this Privacy Policy or other policies or terms of use applicable to our Sites, including
  investigations of potential violations thereof;</p>
  <p> c. Protect the safety, rights, property or security of Xpress Payments or any third party; and/or</p>
  <p> d. Detect, prevent or otherwise address fraud, security issues or breaches, or technical issues.</p>
  <p> This may include allowing third parties, such as copyright owners, Internet service providers, wireless service
  providers and/or law enforcement agencies, to access and use your Usage Information to identify you. We may take any
  of these steps without notice to you to the extent permitted by law.</p>

  <h2>Information Security</h2>
  <p> We will take reasonable precautions to protect your Personal Information in our possession from loss, misuse, and
  unauthorized access, disclosure, alteration or destruction. We will make reasonable efforts to keep your Personal
  Information reliable for its intended use, accurate, current and complete. As necessary, we will take additional
  precautions regarding the security of particularly sensitive information, such as credit card information. While we
  strive to secure your Personal Information, we cannot warrant or guarantee that this information will be protected
  under all circumstances, including those beyond our reasonable control.</p>



  <h2>Updates to the Privacy Policy</h2>
  <p> Xpress Payments reserve the right to update this Privacy Policy at any time, without prior notice, to the extent
  permitted by applicable laws.</p>
</div>
<app-footer></app-footer>