<section class="charts">
  <div class="container-fluid">
    <!-- Page Header-->
    <header>
      <h1 class="h3 display">Overview</h1>
    </header>
    <div class="row" *ngIf="transactions">
      <div class="col-md-2">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style=" background-color: #7CFC00">
            <h4>Successful</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange">
                  {{transactions.SUCCESSFUL}}
                </span> <br />
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.SUCCESSFUL}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style=" background-color: #F1F1F1">
            <h4>Pending</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange">
                  {{transactions.PENDING}}</span> <br>
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.PENDING}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style=" background-color: #838383">
            <h4 style="color: 	#FFFFFF">Incomplete</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange"><span class="">
                    {{transactions.INCOMPLETE}}</span></span> <br>
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.INCOMPLETE}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style=" background-color: #FFFF00">
            <h4>Canceled</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange"><span class="">
                    {{transactions.CANCELED}}</span></span> <br>
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.CANCELED}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style=" background-color: #2f4f4f">
            <h4 style="color: 	#FFFFFF">Declined</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange"><span class="">
                    {{transactions.DECLINED}}</span></span> <br>
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.DECLINED}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header d-flex align-items-center" style=" background-color: #FF6A47">
            <h4>Failed</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <span class="Count">Count : <span class="label label-custom-orange">
                  <span class="">{{transactions.FAILED}}</span></span> <br>
                <span class="label label-custom-grey"><span class="curr_i">&#8358;</span>
                  <span>{{transactionsAmount.FAILED}}</span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card line-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Transactions</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="myBarChart" width="600" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card pie-chart-example">
          <div class="card-header d-flex align-items-center">
            <h4>Transaction Summary</h4>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="myDoughnutChart" width="400" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
