table tbody tr .email {
  text-align: left;
}

.scroll {
  max-height: 200px;
  /* overflow-y: auto; */
}

.mdb-card {
  /*border-radius: .25rem;*/
  /*flex-direction: column;*/
  /*min-width: 0;*/
  word-wrap: break-word;
  background-clip: border-box;
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-radius: .25rem;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.xp-trans a {
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 5px;
}

.success {
  color: green;
}

tr {
  font-size: 12px;
  margin-bottom: 15px;
}

div {
  font-size: 12px;
}

p {
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
  margin: 0px;
  color: #292525;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
