<!-- navbar-->
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item active">Users</li>
    </ul>
  </div>
</div>
<section>
  <div class="container-fluid">
    <br />
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <small>This feature will enable you to create other users and assign roles applicable to their job function on the
        platform.</small>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <header>
<!--      <button data-toggle="modal" (click)="displayInvitUserForm()"-->
<!--        style="float: left; border-color: #272c4c !important; color: #272c4c !important;" type="button"-->
<!--        data-toggle="modal" data-target="#inviteUserForm">Create Merchant</button>-->
    </header>

    <div class="row" [ngSwitch]="whichForm">
      <div class="col-lg-12" *ngSwitchCase="'addMerchant'">
        <div class="card">
          <div class="card-header">
            <h4>Merchant</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="userTable" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="th-sm">S/N</th>
                    <th class="th-sm">Alias Id</th>
                    <th class="th-sm">Merchant Id</th>
                    <th class="th-sm">Merchant Category Code</th>
                    <th class="th-sm">Payload Format Indicator</th>
                    <th class="th-sm">Point Of Initiation Method</th>
                    <th class="th-sm">Transaction Currency Code</th>
                    <th class="th-sm">Recipient Name</th>
                    <th class="th-sm">City</th>
                    <th class="th-sm">Country</th>
                    <!-- <th class="th-sm">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let merchant of merchants let i = index">
                    <td>{{ i + indexPassed }}</td>
                    <td>{{ merchant.aliasId }}</td>
                    <td>{{ merchant.merchantId }}</td>
                    <td>{{ merchant.merchantCategoryCode }}</td>
                    <td>{{ merchant.payloadFormatIndicator }}</td>
                    <td>{{ merchant.pointOfInitiationMethod }}</td>
                    <td>{{ merchant.transactionCurrencyCode }}</td>
                    <td>{{ merchant.recipientName }}</td>
                    <td>{{ merchant.city }}</td>
                    <td>{{ merchant.country }}</td>
                    <!-- <td><button class="btn btn-primary" (click)="viewUser(user)">View</button></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12" *ngSwitchCase="'viewUpdateUserForm'">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h4>Edit User</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <form [formGroup]="userForm" (ngSubmit)="updateUser(userForm.value)" class="text-center">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstName" style="float: left">First name</label>
                        <input formControlName="firstName" type="text" id="firstName" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastName" style="float: left">Last name</label>
                        <input appRegisterInputValidator class="form-control" type="email" formControlName="lastName"
                          id="lastName">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phone" style="float: left">Phone number</label>
                        <input appRegisterInputValidator class="form-control" type="text" formControlName="phone"
                          id="phone">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email" style="float: left">Status</label>
                        <select class="form-control" formControlName="status">
                          <option value="">Please select status</option>
                          <option value="NEW">New</option>
                          <option value="ACTIVE">Activate</option>
                          <option value="INACTIVE">Deactivate</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="address" style="float: left">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="address" style="float: left">Address</label>
                        <input formControlName="address" class="form-control" type="text" id="address">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <button style="float: left; margin-right: 10px;" (click)="back()"
                          class="btn btn-secondary">Cancel</button>&nbsp;
                        <button style="float: left;" class="btn btn-primary" (click)="updateUser()">Save
                          Changes</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <div>
                  <h5>Other Details</h5>
                  <ul class="list-group">
                    <li class="list-group-item">Created at: {{viewUserModel.createdAt}}</li>
                    <li class="list-group-item">Last Login: {{viewUserModel.lastLoginDate}}</li>
                    <!-- <li class="list-group-item">Is main merchant: {{viewUserModel.isMainMerchant}}</li> -->
                    <li class="list-group-item">Updated At: {{viewUserModel.updatedAt}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="inviteUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create Merchant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="merchantForm" (ngSubmit)="createMerchant(merchantForm.value)" class="text-center">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Alias Id</label>
                    <input formControlName="aliasId" type="text" id="materialLoginFormEmail" class="form-control">
                    <!-- <div *ngIf="(submitted && f.email.errors) || merchantForm.get('email').hasError('required') && merchantForm.get('email').touched"
                class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="align-text-left">Email is required</div>
              </div> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Merchant Id</label>
                    <input formControlName="merchantId" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">merchantCategoryCode</label>
                    <input formControlName="merchantCategoryCode" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Payload Format Indicator</label>
                    <input formControlName="payloadFormatIndicator" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Point Of Initiation Method</label>
                    <input formControlName="pointOfInitiationMethod" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Transaction Currency Code</label>
                    <input formControlName="transactionCurrencyCode" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Recipient Name</label>
                    <input formControlName="recipientName" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">City</label>
                    <input formControlName="city" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <label for="materialLoginFormEmail" style="float: left">Country</label>
                    <input formControlName="country" type="text" id="materialLoginFormEmail" class="form-control">
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="materialLoginFormEmail" style="float: left;">Role</label>
              <select class="form-control" id="roleId" formControlName="roleId">
                <option value="" selected>Select Role</option>
                <option *ngFor="let category of categories" [value]="category.uniqueKey">{{ category.name }} ( {{
                  category.description }} )</option>
              </select>
            </div> -->
              <button style="float: left; margin-right: 10px;" class="btn btn-secondary" data-dismiss="modal"
                aria-label="Close" type="submit">Close</button>&nbsp;&nbsp;&nbsp;
              <button style="float: left" class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="text-center">
<a href="" class="btn btn-default btn-rounded mb-4"  data-toggle="modal" data-target="#inviteUserForm"(click)="displayInvitUserForm()">
Create User</a>
</div> -->
  <!-- </div> -->
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
