.activate-user {
    /* background-color: #78e08f !important; */
    background: #f3f3f3 !important;
    /* background-image: -webkit-linear-gradient(top, #182848, #4b6cb7) !important;
    background-image: linear-gradient(to right, #182848, #4b6cb7) !important; */
    min-height: 100vh;
  }