<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
      <li class="breadcrumb-item active">Settings</li>
    </ul>
  </div>
</div>

<section>
  <div class="container-fluid">
    <!-- Page Header-->
    <header>
    </header>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <small> Kindly update your profile to activate your account.</small>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <section id="tabs" class="project-tab">
      <div class="row">
        <div class="col-md-12">
          <nav>
            <div class="nav nav-tabs nav-fill" id="navtab" role="tablist">
              <a [class.disabled]="business ? true : null" class="nav-item nav-link" id="navbusinesstab"
                routerLink="/starter/business-information">Business Information</a>
              <a [class.disabled]="identity ? true : null" class="nav-item nav-link" id="navidentityverificationtab"
                routerLink="/starter/identity-validation">Identity Verification</a>
              <a [class.disabled]="account ? true : null" class="nav-item nav-link" id="navaccounttab"
                routerLink="/starter/account-validation">Bank Account</a>
              <a [class.disabled]="payment ? true : null" class="nav-item nav-link" id="paymentSetup"
                routerLink="/starter/payment-setup">Payment Setup</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent" [ngSwitch]="whichDisplay">

            <div class="tab-pane fade show active" *ngSwitchCase="'businessInformation'" id="navbusiness">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Business Information</h4>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="businessInfoForm" (ngSubmit)="updateMerchant(businessInfoForm.value)">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Business Name</label>
                              <input type="text" formControlName="businessName" placeholder="Business Name"
                                class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Phone Number</label>
                              <input type="text" formControlName="businessPhoneNumber" placeholder="Phone Number"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Business Email</label>
                              <input type="text" formControlName="businessEmail" placeholder="Business Email Address"
                                class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Business Address</label>
                              <input type="text" formControlName="businessAddress" placeholder="Business Address"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Next" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="nav-identity-verification" *ngSwitchCase="'identityVerification'"
              aria-labelledby="nav-identity-verification-tab">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Identity Verification</h4>
                    </div>
                    <div class="card-body" *ngIf="businessType === 'REGISTERED'; else STARTER">
                      <form [formGroup]="uploadFormReg" (ngSubmit)="updateVerification(uploadFormReg.value)">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Select Business Registration Type</label>
                              <select class="form-control" formControlName="businessNumberType">
                                <option selected>Select Business Registration Type</option>
                                <option value="RC Number" style="color: black !important;">RC Number</option>
                                <option value="BN Number" style="color: black !important;">BN Number</option>
                                <option value="NEPZA Number" style="color: black !important;">NEPZA Number</option>
                                <option value="CAC IT Number" style="color: black !important;">CAC IT Number</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Business Number</label>
                              <input type="text" formControlName="businessNumber" placeholder="Business Number"
                                class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Upload CAC Document</label><small style="color: red;">(Allowed type: PNG, JPG, JPEG, PDF,
                                BMP)</small>
                              <input type="file" id="file" (change)="uploadFile($event)" formControlName="file"
                                placeholder="File" class="form-control">
                                <small> File Name: {{ fileName }}</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="button" (click)="backClicked()" value="Back"
                            class="btn btn-secondary">&nbsp;&nbsp;
                          <input type="submit" value="Next" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                    <ng-template #STARTER>                    <div class="card-body">
                        <form [formGroup]="uploadFormStarter" (ngSubmit)="updateVerification(uploadFormStarter.value)">
                          <div class="row" *ngIf="businessType === 'STARTER'">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Select Means of Identification</label>
                                <select class="form-control" id="bankCode" formControlName="identification">
                                  <option value="bankCode" selected>Select Means of Identification</option>
                                  <option value="Driver’s license" style="color: black !important;">Driver’s license
                                  </option>
                                  <option value="Voter’s card" style="color: black !important;">Voter’s card</option>
                                  <option value="National Identity Card" style="color: black !important;">National
                                    Identity Card</option>
                                  <option value="International Passport " style="color: black !important;">International
                                    Passport </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Upload file</label><small style="color: red;">(Allowed type: PNG, JPG, JPEG, PDF,
                                  BMP)</small>
                                <input type="file" id="file" (change)="uploadFile($event)" formControlName="file"
                                  placeholder="File" class="form-control">
                               <small>File Name: {{ fileName }}</small>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="button" (click)="backClicked()" value="Back"
                              class="btn btn-secondary">&nbsp;&nbsp;
  
                            <input type="submit" value="Next" class="btn btn-primary">
                          </div>
                        </form>
                      </div>



                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="nav-account" *ngSwitchCase="'accountValidaion'">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Account Information
                      </h4>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="bankAccountForm" (ngSubmit)="updateBankAccountInfo(bankAccountForm.value)">
                        <!-- <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Account Name</label>
                              <input type="text" formControlName="settlementAccountName" placeholder="Account Name"
                                class="form-control">
                            </div>
                          </div>
                        </div> -->
                        <div class="row" *ngIf="displayAccountName">
                          <div class="col-md-6">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                              {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Account Number</label>
                              <input type="text" #settlementAccountNumber formControlName="settlementAccountNumber"
                                placeholder="Account Number" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Select Bank</label>
                              <select class="form-control" #bankCode id="bankCode" formControlName="bankCode">
                                <option value="bankCode" disabled selected>Select Bank</option>
                                <option *ngFor="let bank of banks" value="{{bank.bankCode}}"
                                  style="color: black !important;">{{bank.bankName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="button" (click)="backClicked()" value="Back"
                            class="btn btn-secondary">&nbsp;&nbsp;
                          <input type="submit" value="Validate" class="btn btn-primary">&nbsp;&nbsp;
                          <input type="button" (click)="continue()" value="Continue" class="btn btn-secondary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="paymentsetup" *ngSwitchCase="'paymentSetUp'">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>
                        Payment Channel Setup
                      </h4>
                    </div>
                    <p style="padding: 5px; font-size: 12px;">This feature will enable you to setup payment channels that will be accessible to customers for payments.</p>
                    <div class="card-body">
                      <form [formGroup]="paymentSetupForm" (ngSubmit)="updatePaymentSetup(paymentSetupForm.value)">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Account Payment</label>
                              <label class="switch" style="float: right;">
                                <input (change)="updateAccount()" formControlName="accountPayment" type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <span *ngIf="merchantBusinessInfo.accountPayment === 'ACTIVE' else condition1" style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">ON</span>
                              <ng-template #condition1>
                                <span style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">OFF</span>
                              </ng-template> -->

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>QR Payment</label>
                              <label class="switch" style="float: right;">
                                <input (change)="updateQr($event.target.value)" formControlName="qrPayment"
                                  type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <span *ngIf="merchantBusinessInfo.qrPayment == 'ACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">ON</span>
                              <span *ngIf="merchantBusinessInfo.qrPayment == 'INACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">OFF</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>USSD Payment</label>
                              <label class="switch" style="float: right;">
                                <input (change)="updateUssd()" formControlName="ussdPayment" type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <span *ngIf="merchantBusinessInfo.ussdPayment == 'ACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">ON</span>
                              <span *ngIf="merchantBusinessInfo.ussdPayment == 'INACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">OFF</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Wallet Payment</label>
                              <label class="switch" style="float: right;">
                                <input (change)="updateWallet()" formControlName="walletPayment" type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <span *ngIf="merchantBusinessInfo.walletPayment == 'ACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">ON</span>
                              <span *ngIf="merchantBusinessInfo.walletPayment == 'INACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">OFF</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Card Payment</label>
                              <label class="switch" style="float: right;">
                                <input (change)="updatecard()" formControlName="cardPayment" type="checkbox">
                                <span class="slider round"></span>
                              </label>
                              <!-- <span *ngIf="merchantBusinessInfo.cardPayment == 'ACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">ON</span>
                              <span *ngIf="merchantBusinessInfo.cardPayment == 'INACTIVE'"
                                style="float: right; margin-right: 2px; color: rgb(79, 84, 79);">OFF</span> -->
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input type="button" (click)="backClicked()" value="Back"
                            class="btn btn-secondary">&nbsp;&nbsp;

                          <input type="submit" value="Done" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
