<app-header></app-header>
<section class="xp-main"> 
  <img src="../../../assets/images/slide-1-2.png"/>
  <div  class="xp-main-header">
      <h1>Reach out to your customers</h1>
      <p>
        An easy, fast and secure way to receive payments from<br/>
your clients and grow your business faster. ab sama
      </p>
      <!-- <a [routerLink]="['/register']">GET STARTED</a> -->
  </div>
</section>
<section class="xp-section xp-payments" style="background-color: #153570;">
    <br><br><br>
  <div class="row">
    <div class="col-md-3">
      <div class="xp-payment-left">
        <img src="../../../assets/images/methods2.png" />
      </div>
    </div>
    <div class="col-md-9">
      <div class="xp-payment-right">
        <h1>Give Your Customers Diverse Payment Options</h1>
        <div style="text-decoration: overline; width: 200px;height: 20px; color: #ffffff;"></div>
        <p>Provides an easy and secure avenue for merchants to receive
          payments from customers using up-to-date payment methods.
        </p>
        <p>This gateway allows your customers to make payments through methods convenient
          for them.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr style="color: white; background: rgb(206, 200, 200); height: 1.5px;">
  <br />
  <br />
  <div class="row">
    <div class="col-md-9">
      <div class="xp-payment-left">
        <h1>Secure Platform for Online Payments</h1>
        <br/>
        <p>Built on modern technology that enables easy, quick and secure integration to your
          websites.

          With our detailed API manual, developers can effortlessly integrate payments to
          websites using our plugins, libraries and extensions.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="xp-payment-right">
        <img src="../../../assets/images/securepayment.png" />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>